<div *ngIf = "user" class = "profileMainDiv"> 
    <h2 class = "page-header"> Welcome : {{user.name}}</h2>

  <nav class="navbar navbar-default">
  
    <ul class="nav navbar-nav">
      <li><a>Functions : </a></li>
      <li><a [routerLink]="['/addQuote']" style="text-decoration : underline;">Add Quote</a></li>
    </ul>
  
  </nav>

    <ul class = "list-group">
      <li class = "list-group-item">Username : {{user.username}}</li>
      <li class = "list-group-item">Email : {{user.email}}</li>
    </ul>
    <button class = "btn btn-secondary" (click)="showUserQuote()">Show Quotes</button> 
    <button class = "btn btn-secondary pull-right" (click)="hideQuote()">Hide Quotes</button>
  </div>


  <div *ngFor="let quoteItem of quotesList">
    <ul class ="list-group">
      <button class = "secondary-btn" (click)="deleteUserQuote(quoteItem._id)">Delete Quote</button>
        <li class = "list-group-item ">Name : {{quoteItem.name}}</li>
        <li class = "list-group-item">Quote : {{quoteItem.quote}}</li>
    </ul>

  </div>

  
