<h2 class = "page-header">Add Entry</h2>
<form (submit) = "onEntrySubmit()">  
  <div class ="form-group">
    <label>Title</label>
    <input type ="text" [(ngModel)] = "name" name = "name" class = "form-control">
  </div>
  <div class ="form-group">
    <label>Entry</label>
    <!-- <input type ="text" [(ngModel)] = "quote" name = "quote" class = "form-control"> -->
    <textarea [(ngModel)] = "entry" name = "entry" class = "form-control"> </textarea>
  </div>
  <input type = "submit" class = "btn btn-default" style="background : rgb(95, 52, 205);" value = "Submit">
</form>
